.footer {
  position: fixed;
  display: flex;
  justify-content: space-between;
  height: 30px;
  width: 94%;
  bottom: 0;
  background-color: #282828;
  padding: 30px;
}
.footer_green {
  color: rgba(128, 255, 0, 0.902);
}
.footer_left {
  flex: 0.3;
  display: flex;
  align-items: center;
  color: white;
  width: 300px;
}
.footer_icon:hover,
.footer_green:hover {
  transition: transform 0.2s ease-in-out;
  transform: scale(1.2) !important;
}
.footer_center {
  flex: 0.4;
  padding: 0 100px;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 300px;
}
.footer_right {
  flex: 0.3;
  display: flex;
  color: white;
  justify-content: space-between;
  align-items: center;
}
.footer_albumLogo {
  height: 40px;
  width: 60px;
  margin-right: 20px;
  object-fit: contain;
}
